.alert{
	border: 1px solid #ccc;
	padding: 6px; 
}

.alert-info{
	background-color: #d9edf7;
}

.alert-success{
	background-color: #dff0d8;
}

.alert-warning{
	background-color: #fcf8e3;
}

.btn-primary:hover{
	color: #ffffff;
	background-color: #ffffff;
}

body{
	background-color: #d9edf7;
	background-size:cover;
}

a:hover{
	color : black;
}

/*
CSS for animated button #d9edf7
*/

.animated_button {
	border-radius: 4px;
	background-color:mediumseagreen;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.animated_button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.animated_button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.animated_button:hover span {
	padding-right: 25px;
}

.animated_button:hover span:after {
	opacity: 1;
	right: 0;
}