{% extends "base.html" %}

{% block title %}Manage Account{% endblock %}

{% block body %}

    <style>
        .bluediv {
            height: 560px;
            overflow-y : auto;
            text-align: center;
        }

        hr {
            text-align:center;
            margin: 0 auto;
            width: 50%;
            color: #cccccc;
            height: 5px;
        }
    </style>

    {% if current_user %}

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/museum/gamify/admin">
                    Hello {{ current_user.name }}
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/museum/gamify/admin">Home</a></li>
                <li><a href="/museum/gamify/notificationcontroller/new">Notification</a></li>
                <li><a href="/museum/gamify/logout">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div>
        <h2 style="text-align: center">Manage Account</h2>
        <div style="text-align: center">
            <span><i class="fa fa-search"></i>
            <input type="search" id="search" onkeyup="search()" placeholder="Search" style="border: none;outline: 0;border-bottom: 2px solid blue;width: 30%;"/>
            </span>
        </div>
        <!--<div>-->
            <div class="bluediv" id="userlist">
            {% for user in users %}
                <div style="margin: 2%;font-size:large">
                    <span style="padding-right: 10%;">
                        <!--<img src="{{ user.avatar }}" width="2%" height="2%"/>-->
                        {% if user.isblocked %}
                        <span style="text-decoration:line-through; color: red">{{ user.name }}</span>
                        {% else %}
                        <span>{{ user.name }}</span>
                        {% endif %}
                    </span>
                    <a href="/museum/gamify/manageaccount/block?user_id={{ user.id }}&block={{ user.isblocked }}" style="display:inline-block; padding: 1%;">
                        <span><i class="fa fa-ban" style="color: red"></i></span>
                    </a>
                    <a href="/museum/gamify/manageaccount/change?user_id={{ user.id }}" style="display:inline-block; padding: 1%">
                        <span><i class="fa fa-edit"></i></span>
                    </a>
                    <hr align="center">
                </div>
            {% endfor %}
            </div>
        <!--</div>-->
    </div>

    {% else %}
        <a href="/museum/gamify/signup/new">Sign Up</a>
        <a href="/museum/gamify/login">Log In</a>
    {% endif %}

    <script type="text/javascript">
        function search() {
            var input = document.getElementById("search");
            var filter = input.value.toUpperCase();
            var ul = document.getElementById("userlist");
            var div = ul.getElementsByTagName("div");
            for (var i = 0; i < div.length; i++) {
                var a = div[i].getElementsByTagName("span")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    div[i].style.display = "";
                } else {
                    div[i].style.display = "none";
                }
            }
        }
    </script>

{% endblock %}