{% extends "base.html" %}

{% block title %}Badge{% endblock %}

{% block body %}

    <link rel="stylesheet" href="/museum/gamify/css/adminhome.css">

    {% if current_user %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

            <div class="navbar-header">
                <a class="navbar-brand" href="/museum/gamify/admin">
                    <img src="/museum/gamify/images/buffalo-museum-white.png" height="30px" width="35px" style="margin:2%;"/>
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/museum/gamify/admin">Home</a></li>
                <li><a href="/museum/gamify/notificationcontroller/new">Notification<span class="button__badge">{{ notifications|length }}</span></a></li>
                <li><a href="/museum/gamify/gamecontroller/pending">Publish Game<span class="button__badge">{{ pendingGames|length }}</span></a></li>
                <li><a href="/museum/gamify/logout/admin">Logout</a></li>
            </ul>
        </div>
        <div class="navbar-header" style="float: right">
            <a class="navbar-brand" href="/museum/gamify/admin">
                {% if avatar_file %}
                <img src="{{ avatar_file }}" height="30px" width="30px" alt="Avatar"/>
                {% else %}
                <img src="/museum/gamify/images/avatar_default.jpg" height="30px" width="30px" alt="Avatar"/>
                {% endif %}
            </a>
            <a class="navbar-brand" href="/museum/gamify/admin">
                {{ current_user.name }}
            </a>
        </div>
    </div>
</nav>

        {% for message in flash_messages %}
        <div class="alert alert-{{ message.type }}">
            {{ message.body }}
        </div>
        {% endfor %}

        <div id="game-form-div" style="text-align: center;margin: 5% 35% 35%;">
            <h2>Badge</h2>
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'Add')" id="defaultOpen">Add</button>
                <button class="tablinks" onclick="openTab(event, 'Update')">Update</button>
                <button class="tablinks" onclick="openTab(event, 'Delete')">Delete</button>
            </div>
            <form class="badge-form" action="/museum/gamify/badgecontroller/add" method="post" enctype="multipart/form-data">
                <div id="Add" class="tabcontent">
                    <div style="margin: 10%">
                        <input type="text" id="badge-name-add" name="badge-name-add" placeholder="Enter Badge Name" style="border: none;outline: 0;border-bottom: 2px solid #0099cc;" required title="Enter badge name">
                    </div>
                    <div style="margin: 10%">
                        <input type="file" name="badge-add" required class="btn btn-primary" title="Select badge file"/>
                    </div>
                    <div style="margin: 10%">
                        <input type="text" id="description" name="description" placeholder="Enter Description (optional)" style="border: none;outline: 0;border-bottom: 2px solid #0099cc;" title="Enter description for the badge"/>
                    </div>
                    <div style="margin-bottom: 5%">
                        <button type="submit" name="add" class="btn btn-primary" title="Add Badge">Add</button>
                    </div>
                </div>
            </form>

            <form class="badge-form" action="/museum/gamify/badgecontroller/update" method="post" enctype="multipart/form-data">
                <div id="Update" class="tabcontent">
                    <div style="margin: 10%">
                        <label style="margin-right: 5%; ">Select Badge</label>
                        <select name="select-badge-update" class="selcls" id="select-badge-update" title="Select badge to be updated">
                            {% for badge in badges %}
                            <option value="{{ badge.id }}" data-badge="{{ badge.badge }}">{{ badge.name }}</option>
                            {% endfor %}
                        </select>
                        <img id="badge-image-update" width="10%" height="10%" style="margin-left: 3%">
                    </div>
                    <div style="margin: 10%">
                        <input type="text" id="badge-name-update" name="badge-name-update" placeholder="Enter Badge Name" style="border: none;outline: 0;border-bottom: 2px solid #0099cc;" title="Enter badge name">
                    </div>
                    <div style="margin: 10%">
                        <input type="file" name="badge-update" class="btn btn-primary" title="Select badge file to update"/>
                    </div>
                    <div style="margin-bottom: 5%">
                        <button type="submit" name="update" class="btn btn-primary" title="Update badge">Update</button>
                    </div>
                </div>
            </form>

            <div id="Delete" class="tabcontent">
                <div style="margin: 10%">
                    <label style="margin-right: 5%; ">Select Badge</label>
                    <select class="selcls" id="select-badge-delete" title="Select badge to be deleted">
                        {% for badge in badges %}
                        <option value="{{ badge.id }}" data-badge="{{ badge.badge }}">{{ badge.name }}</option>
                        {% endfor %}
                    </select>
                    <img id="badge-image-delete" width="10%" height="10%" style="margin-left: 3%">
                </div>
                <div style="margin-bottom: 5%">
                    <button type="button" class="btn btn-primary" title="Delete badge" data-toggle="modal" data-target="#myModal">Delete</button>
                </div>
            </div>
        </div>

        <div class="container">
            <!-- Trigger the modal with the badge button -->
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <form class="badge-form" action="/museum/gamify/badgecontroller/delete" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title" style="align-self: center">Confirmation</h2>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete the badge?
                            <div id="badge_delete">
                                <input id="badge_id" name="select-badge-delete" hidden/>
                                <label id="badge_name"></label>
                                <img id="badge_image" width="10%" height="10%" style="margin-left: 3%"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" name="delete" class="btn btn-success">Yes</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>

        </div>

    {% else %}
        <a href="/museum/gamify/signup/new">Sign Up</a>
        <a href="/museum/gamify/login">Log In</a>
    {% endif %}

    <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        document.getElementById("defaultOpen").click();

        $(document).ready(function () {
            $("#select-badge-update").change(function (e) {
                var src = $(this).children("option:selected").data("badge");
                $("#badge-image-update").attr("src", src);
            }).trigger("change");

            $("#select-badge-delete").change(function (e) {
                var src = $(this).children("option:selected").data("badge");
                $("#badge-image-delete").attr("src", src);
                var badge_id = $(this).children("option:selected").val();
                var badge_name = $(this).children("option:selected").text();
                $("#badge_image").attr("src", src);
                $("#badge_name").text(badge_name);
                $("#badge_id").val(badge_id);
            }).trigger("change");

        });

    </script>

{% endblock %}