{% extends "base.html" %}

{% block title %}Badge{% endblock %}

{% block body %}

<section class="main-container">
    <div class="main-wrapper">
        <h2>Badge</h2>
        <form class="game-type-form" action="/museum/gamify/badgecontroller/modify" method="post" enctype="multipart/form-data">
            <div>
                <label>Badge Name</label>
                <input type="text" id="badge-name" name="badge-name" placeholder="Enter Badge Name">
            </div>
            <div>
                <label>Badge</label>
                <input type="file" id="badge" name="badge"/>
            </div>
            <div>
                <select name="select-badge">
                    <option value="0">Select Badge</option>
                    {% for badge in badges %}
                        <option value="{{ badge.id }}">{{ badge.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label>Description</label>
                <textarea id="description" name="description" placeholder="Enter Description"></textarea>
            </div>
            <div>
                <button type="submit" name="add">Add</button>
                <button type="submit" name="update">Update</button>
                <button type="submit" name="delete">Delete</button>
            </div>
            <!--{% for b in badges %}-->
                <!--<img src="{{ b.badge }}"/>-->
            <!--{% endfor %}-->
        </form>
    </div>
</section>

{% endblock %}