{% extends "base.html" %}

{% block title %}Edit Question{% endblock %}

{% block body %}

    {% if current_user %}

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/museum/gamify/admin">
                    Hello {{ current_user.name }}
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/museum/gamify/admin">Home</a></li>
                <li><a href="/museum/gamify/notificationcontroller/new">Notification</a></li>
                <li><a href="/museum/gamify/logout/admin">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div style="text-align: center">
        <h2>Question</h2>
        <form class="question-form" action="/museum/gamify/questioncontroller/update" method="post">
            {% for q in question %}
            <input type="hidden" name="id" value="{{ q.id }}">
            <div style="margin: 3%">
                <label for="question">Q</label>
                <textarea id="question" name="question" placeholder="Enter Question" rows="2" cols="50"
                          style="border: none;outline: 0;border-bottom: 2px solid blue; resize: none">{{ q.question }}</textarea>
            </div>
            {% set i = 1 %}
            {% for o in q.options %}
            <div style="margin: 3%" id="option{{ i }}">
                <textarea id="optionA{{ i }}" name="option[optionA{{ i }}]" placeholder="Enter Option" rows="1" cols="30"
                          style="border: none;outline: 0;border-bottom: 2px solid blue;resize: none">{{ o.option }}</textarea>
            </div>
            {% set i = i + 1 %}
            {% endfor %}
            {% if game_type_id == 4 %}
            <div style="margin: 3%">
                    <textarea id="description" name="description" placeholder="Enter Information for the question" rows="2"
                              cols="50" style="border: none;outline: 0;border-bottom: 2px solid blue; resize: none">{{ q.description }}</textarea>
            </div>
            {% endif %}
            <div style="margin: 3%">
                <button type="submit" name="update">Update</button>
            </div>
            {% endfor %}
        </form>
    </div>

    {% else %}
        <a href="/museum/gamify/signup/new">Sign Up</a>
        <a href="/museum/gamify/login">Log In</a>
    {% endif %}

{% endblock %}