{% extends "base.html" %}

{% block title %}GameType{% endblock %}

{% block body %}

<section class="main-container">
    <div class="main-wrapper">
        <h2>Game Type</h2>
        <form class="game-type-form" action="/Gamify/gametypecontroller/modify" method="post">
            <!--<select name="select-game-type">-->
                <!--<option value="0">Select Game Type</option>-->
                <!--{{ dump(game_types) }}-->
                {% for game_type in game_types %}
                    <li> game_type["name"] </li>
                    <!--<option value={{ game_type.id }}>{{ game_type.name }}</option>-->
                {% endfor %}
            <!--</select>-->
            <input type="text" name="game-type" placeholder="Enter Game Type">
            <button type="submit" name="add">Add</button>
            <button type="submit" name="update">Update</button>
            <button type="submit" name="delete">Delete</button>
        </form>
    </div>
</section>

{% endblock %}