{% extends "base.html" %}

{% block title %}GameType{% endblock %}

{% block body %}

    <link rel="stylesheet" href="/museum/gamify/css/adminhome.css">

    {% if current_user %}

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/museum/gamify/admin">
                        Hello {{ current_user.name }}
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/museum/gamify/admin">Home</a></li>
                    <li><a href="/museum/gamify/notificationcontroller/new">Notification</a></li>
                    <li><a href="/museum/gamify/logout/admin">Logout</a></li>
                </ul>
            </div>
        </nav>

        {% for message in flash_messages %}
        <div class="alert alert-{{ message.type }}">
            {{ message.body }}
        </div>
        {% endfor %}

        <div id="game-type-form-div" style="text-align: center;margin: 5% 33% 33%;">
            <h2>Game Type</h2>
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'Add')" id="defaultOpen">Add</button>
                <button class="tablinks" onclick="openTab(event, 'Update')">Update</button>
                <button class="tablinks" onclick="openTab(event, 'Delete')">Delete</button>
            </div>

            <form class="game-type-form" action="/museum/gamify/gametypecontroller/add" method="post">
                <div id="Add" class="tabcontent">
                    <div style="margin: 10%">
                        <input type="text" name="game-type-add" placeholder="Enter Game Type" style="border: none;outline: 0;border-bottom: 2px solid #0099cc;" required>
                    </div>
                    <div style="margin-bottom: 5%">
                        <button type="submit" name="add" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </form>

            <form class="game-type-form" action="/museum/gamify/gametypecontroller/update" method="post">
                <div id="Update" class="tabcontent">
                    <div style="margin: 10%">
                        <label style="margin-right: 5%; ">Select Game Type</label>
                        <select name="select-game-type-update" class="selcls">
                            {% for game_type in game_types %}
                            <option value="{{ game_type.id }}">{{ game_type.name }}</option>
                            {% endfor %}
                        </select>
                        <div style="margin: 10%">
                            <input type="text" name="game-type-update" placeholder="Enter New Game Type" style="border: none;outline: 0;border-bottom: 2px solid #0099cc;" required>
                        </div>
                        <div style="margin-bottom: 5%">
                            <button type="submit" name="update" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </div>
            </form>

            <form class="game-type-form" action="/museum/gamify/gametypecontroller/delete" method="post">
                <div id="Delete" class="tabcontent">
                    <div style="margin: 10%">
                        <label style="margin-right: 5%; ">Select Game Type</label>
                        <select name="select-game-type-delete" class="selcls">
                            {% for game_type in game_types %}
                            <option value="{{ game_type.id }}">{{ game_type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="margin-bottom: 5%">
                        <button type="submit" name="delete" class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    {% else %}
        <a href="/museum/gamify/signup/new">Sign Up</a>
        <a href="/museum/gamify/login">Log In</a>
    {% endif %}

    <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        document.getElementById("defaultOpen").click();
    </script>

{% endblock %}