{% extends "base.html" %}

{% block title %}Game{% endblock %}

{% block body %}

    <link rel="stylesheet" href="/museum/gamify/css/adminhome.css">

    {% if current_user %}

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/museum/gamify/admin">
                        Hello {{ current_user.name }}
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/museum/gamify/admin">Home</a></li>
                    <li><a href="/museum/gamify/notificationcontroller/new">Notification<span class="button__badge">{{ notifications|length }}</span></a></li>
                    <li><a href="/museum/gamify/logout/admin">Logout</a></li>
                    <li style="position:absolute; top:0; right:0;"><img src="/museum/gamify/images/buffalo-museum-white.png" width="20%" height="20%" style="margin:2%;"/></li>
                </ul>
            </div>
        </nav>

        {% for message in flash_messages %}
        <div class="alert alert-{{ message.type }}">
            {{ message.body }}
        </div>
        {% endfor %}

        <div id="game-form-div" style="text-align: center;margin: 5% 35% 35%;">
            <h2>Game</h2>
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'Add')" id="defaultOpen">Add</button>
                <button class="tablinks" onclick="openTab(event, 'Update')">Update</button>
                <button class="tablinks" onclick="openTab(event, 'Delete')">Delete</button>
                <button class="tablinks" onclick="openTab(event, 'Edit Questions')">Edit Questions</button>
            </div>

            <form class="game-form" action="/museum/gamify/gamecontroller/add" method="post">
                <div id="Add" class="tabcontent">
                    <div style="margin: 10%">
                        <label style="margin-right: 5%; ">Select Game Type</label>
                        <select name="select-game-type" class="selcls" title="Select Game Type to add Game">
                            {% for game_type in game_types %}
                            <option value="{{ game_type.id }}">{{ game_type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="margin: 10%">
                        <label style="margin-right: 5%; ">Select Age Group</label>
                        <select name="select-age-group" class="selcls" title="Select Age Group of the Game">
                            {% for age_group in age_groups %}
                            <option value="{{ age_group.id }}">{{ age_group.min }} - {{ age_group.max }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="margin: 10%">
                        <input type="text" name="game-add" placeholder="Enter Game" title="Enter Game"
                               style="border: none;outline: 0;border-bottom: 2px solid #0099cc;" required>
                    </div>
                    <div style="margin-bottom: 5%">
                        <button type="submit" name="add" class="btn btn-primary" title="Add Game">Add</button>
                    </div>
                </div>
            </form>

            <form class="game-form" action="/museum/gamify/gamecontroller/update" method="post">
                <div id="Update" class="tabcontent">
                    <div style="margin: 10%">
                        <label style="margin-right: 5%; ">Select Game</label>
                        <select name="select-game-update" class="selcls" title="Select game to be updated">
                            {% for game in games %}
                            <option value="{{ game.id }}">{{ game.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="margin: 10%">
                        <input type="text" name="game-update" placeholder="Enter New Game" title="Enter new Game to update"
                               style="border: none;outline: 0;border-bottom: 2px solid #0099cc;" required>
                    </div>
                    <div style="margin-bottom: 5%">
                        <button type="submit" name="update" class="btn btn-primary" title="Update Game">Update</button>
                    </div>
                </div>
            </form>

            <form class="game-form" action="/museum/gamify/gamecontroller/delete" method="post">
                <div id="Delete" class="tabcontent">
                    <div style="margin: 10%">
                        <label style="margin-right: 5%; ">Select Game</label>
                        <select name="select-game-delete" class="selcls" title="Select Game to be deleted">
                            {% for game in games %}
                            <option value="{{ game.id }}">{{ game.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="margin-bottom: 5%">
                        <button type="submit" name="delete" class="btn btn-primary" title="Delete Game">Delete</button>
                    </div>
                </div>
            </form>

            <form class="game-form" action="/museum/gamify/gamecontroller/edit" method="post">
                <div id="Edit Questions" class="tabcontent">
                    <div style="margin: 10%">
                        <label style="margin-right: 5%; ">Select Game</label>
                        <select name="select-game-edit" class="selcls" title="Select Game to edit questions in game">
                            {% for game in games %}
                            <option value="{{ game.id }}">{{ game.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="margin-bottom: 5%">
                        <button type="submit" name="edit" class="btn btn-primary" title="Edit Questions">Edit Questions</button>
                    </div>
                </div>
            </form>
        </div>
    {% else %}
        <a href="/museum/gamify/signup/new">Sign Up</a>
        <a href="/museum/gamify/login">Log In</a>
    {% endif %}

    <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        document.getElementById("defaultOpen").click();
    </script>

{% endblock %}