{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

    {% if current_user %}

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/museum/gamify/admin">
                        Hello {{ current_user.name }}
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/museum/gamify/admin">Home</a></li>
                    <li><a href="/museum/gamify/notificationcontroller/new">Notification</a></li>
                    <li><a href="/museum/gamify/logout">Logout</a></li>
                </ul>
            </div>
        </nav>

        <div style="margin: 5% auto 0;text-align: center;">
            <div class="row" style="margin-bottom: 5%">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <div class="w3-card w3-blue" style="border-radius: 5%;height: 200px;width: 80%">
                        <h3 style="padding-top: 25%">
                            <a href="/museum/gamify/gametypecontroller/new" style="text-decoration:none">Game Type</a>
                        </h3>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <div class="w3-card w3-blue" style="border-radius: 5%;height: 200px;width: 80%">
                        <h3 style="padding-top: 25%">
                            <a href="/museum/gamify/gamecontroller/new" style="text-decoration:none">Game</a>
                        </h3>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row" style="margin-bottom: 5%">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <div class="w3-card w3-blue" style="border-radius: 5%;height: 200px;width: 80%">
                        <h3 style="padding-top: 25%">
                            <a href="/museum/gamify/badgecontroller/new" style="text-decoration:none;">Badge</a>
                        </h3>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <div class="w3-card w3-blue" style="border-radius: 5%;height: 200px;width: 80%">
                        <h3 style="padding-top: 25%">
                            <a href="/museum/gamify/manageaccount/new" style="text-decoration:none">Manage Account</a>
                        </h3>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

    {% else %}
        <a href="/museum/gamify/signup/new">Sign Up</a>
        <a href="/museum/gamify/login">Log In</a>
    {% endif %}
{% endblock %}