{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

    <link rel="stylesheet" href="/museum/gamify/css/adminhome.css">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/museum/gamify/admin">
                    Hello {{ current_user.name }}
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/museum/gamify/admin">Home</a></li>
                <li><a href="/museum/gamify/notificationcontroller/new">Notification<span class="button__badge">{{ notifications|length }}</span></a></li>
                <li><a href="/museum/gamify/logout/admin">Logout</a></li>
            </ul>
        </div>
    </nav>

    {% for message in flash_messages %}
    <div class="alert alert-{{ message.type }}">
        {{ message.body }}
    </div>
    {% endfor %}

    <div>
        <h2>Account</h2>
        <div>
            {{ user.name }}
        </div>
        <div hidden id="user_id">{{ user.id }}</div>
        <form action="" method="post">

        </form>
        <form action="" method="post">

        </form>
    </div>
{% endblock %}