{% extends "base.html" %}

{% block title %}Question{% endblock %}

{% block body %}

<section class="main-container">
    <div class="main-wrapper">
        <h2>Question</h2>
        <form class="question-form" action="/museum/gamify/questioncontroller/modify" method="post">
            <div>
                <ul>
                    {% for q in questions %}
                    <li>{{ q.question }}</li>
                    <input type="submit" name="question" value="{{ q.id }}"/>
                    {% endfor %}
                </ul>
            </div>
        </form>
        <form class="question-form" action="/museum/gamify/questioncontroller/add" method="post">
            <div>
                <label for="question">Q</label>
                <textarea id="question" name="question" placeholder="Enter Question"></textarea>
            </div>
            <div>
                <label for="points">Points</label>
                <input type="text" id="points" name="points" placeholder="Enter Points"/>
                <label for="select-badge">Select Badge</label>
                <select id="select-badge" name="select-badge">
                    <option value="0">Select Badge</option>
                    {% for badge in badges %}
                        <option value="{{ badge.id }}">{{ badge.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <input type="checkbox" name="options[]" value="optionA1"/>
                <textarea id="optionA1" name="option[optionA1]" placeholder="Enter Option 1"></textarea>
            </div>
            <div>
                <input type="checkbox" name="options[]" value="optionA2"/>
                <textarea id="optionA2" name="option[optionA2]" placeholder="Enter Option 2"></textarea>
            </div>
            <div>
                <input type="checkbox" name="options[]" value="optionA3"/>
                <textarea id="optionA3" name="option[optionA3]" placeholder="Enter Option 3"></textarea>
            </div>
            <div>
                <input type="checkbox" name="options[]" value="optionA4"/>
                <textarea id="optionA4" name="option[optionA4]" placeholder="Enter Option 4"></textarea>
            </div>
            <div>
                <label for="description">Description</label>
                <textarea id="description" name="description" placeholder="Enter Description"></textarea>
            </div>
            <div>
                <button type="submit" name="add">Add</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}