{% extends "base.html" %}

{% block title %}Scavenger Hunt{% endblock %}

{% block body %}

    <link rel="stylesheet" href="/museum/gamify/css/adminhome.css">

    {% if current_user %}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/museum/gamify/admin">
                        Hello {{ current_user.name }}
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/museum/gamify/admin">Home</a></li>
                    <li><a href="/museum/gamify/notificationcontroller/new">Notification<span class="button__badge">{{ notifications|length }}</span></a></li>
                    <li><a href="/museum/gamify/logout/admin">Logout</a></li>
                    <li style="position:absolute; top:0; right:0;"><img src="/museum/gamify/images/buffalo-museum-white.png" width="20%" height="20%" style="margin:2%;"/></li>
                </ul>
            </div>
        </nav>

        {% for message in flash_messages %}
        <div class="alert alert-{{ message.type }}">
            {{ message.body }}
        </div>
        {% endfor %}

        <div>
            <h2 style="text-align: center; margin-bottom: 3%">Scavenger Hunt Question</h2>
            <form class="question-form" action="/museum/gamify/questioncontroller/add" method="post">
                <input hidden name="game_type_id" id="game_type_id" value="{{ game_type_id }}"/>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        <label for="question" style="text-align: center; margin-right: 8%;margin-bottom: 5%;font-size: x-large">Q</label>
                        <textarea id="question" name="question" placeholder="Enter Question" rows="2" cols="50"
                                  style="border: none;outline: 0;border-bottom: 2px solid #337ab7; resize: none;width: 80%;" required title="Enter Question"></textarea>
                    </div>
                    <div id="badges" data-badges="{{ badges|json_encode }}"></div>
                </div>
                <div class="row">
                    <div class="col-md-1" style="margin-right: 6%"></div>
                    <div class="col-md-6">
                        <textarea id="optionA1" class="options" name="option[optionA1]" placeholder="Enter Option" rows="1" cols="30"
                                  style="border: none;outline: 0;border-bottom: 2px solid #337ab7;resize: none;margin-right: 3%;width: 50%" title="Enter Option" required></textarea>
                        <input type="checkbox" name="options[]" value="optionA1" style="text-align: center; margin-right: 5%;margin-bottom: 5%" title="Check box to add image verification"/>
                        <label style="margin-bottom: 5%;" title="Check box to add image verification">Image Verify?</label>
                    </div>
                    <div class="col-md-2">
                        <label>Points</label>
                        <input type="number" name="point[optionA1]" min="0" max="100" value="0" style="width:20%" title="Add points to the option">
                    </div>
                    <div class="col-md-1">
                        <select name="select-badges[optionA1]" class="selcls" title="Add badge to the option">
                            <option value="0">Select Badge</option>
                            {% for badge in badges %}
                            <option value="{{ badge.id }}">{{ badge.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1" style="margin-right: 6%"></div>
                    <div class="col-md-6">
                        <textarea id="optionA2" class="options" name="option[optionA2]" placeholder="Enter Option" rows="1" cols="30"
                                  style="border: none;outline: 0;border-bottom: 2px solid #337ab7;resize: none;margin-right: 3%;width: 50%" title="Enter Option" required></textarea>
                        <input type="checkbox" name="options[]" value="optionA2" style="text-align: center; margin-right: 5%; margin-bottom: 5%" title="Check box to add image verification"/>
                        <label style="margin-bottom: 5%;" title="Check box to add image verification">Image Verify?</label>
                    </div>
                    <div class="col-md-2">
                        <label>Points</label>
                        <input type="number" name="point[optionA2]" min="0" max="100" value="0" style="width:20%" title="Add points to the option">
                    </div>
                    <div class="col-md-1">
                        <select name="select-badges[optionA2]" class="selcls" title="Add badge to the option">
                            <option value="0">Select Badge</option>
                            {% for badge in badges %}
                            <option value="{{ badge.id }}">{{ badge.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row addOptionsBtn" style="margin-bottom: 5%">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button id="addOptions" name="addOptions" class="w3-button w3-circle w3-teal" title="Add more options">+</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button type="submit" name="done" class="btn btn-success" style="margin-bottom: 5%" title="Done adding questions">Done</button>
                    </div>
                </div>
            </form>
        </div>

    {% else %}
        <a href="/museum/gamify/signup/new">Sign Up</a>
        <a href="/museum/gamify/login">Log In</a>
    {% endif %}

    <script>
        $(document).ready(function () {
            var i = 3;
            $("#addOptions").click(function (e) {
                e.preventDefault();
                var row = document.createElement('div');
                row.className = "row";
                row.id = "option" + i;
                var column1 = document.createElement('div');
                column1.className = "col-md-1";
                $(column1).css({marginRight: '6%'});
                row.appendChild(column1);
                var column2 = document.createElement('div');
                column2.className = "col-md-6";
                $(column2).append('<textarea id="optionA2" class="options" name="option[optionA' + i + ']" placeholder="Enter Option" rows="1" cols="30" style="border: none;outline: 0;border-bottom: 2px solid #337ab7;resize: none;margin-right: 3%;width: 50%;" title="Enter Option" required></textarea>');
                $(column2).append('<input type="checkbox" name="options[]" value="optionA' + i + '" style="text-align: center;margin-right:5%;margin-bottom: 5%" title="Check box to add image verification"/>');
                $(column2).append('<label style="margin-bottom: 5%;margin-right: 5%" title="Check box to add image verification">Image Verify?</label>');
                $(column2).append('<button data-id="option'+i+'" name="deleteOptions" class="deleteOptionBtn w3-button w3-circle w3-teal" title="Delete option">-</button>');
                row.appendChild(column2);
                var column3 = document.createElement('div');
                column3.className = "col-md-2";
                $(column3).append('<label for="points" style="margin-right: 2%">Points</label>');
                $(column3).append('<input type="number" name="point[optionA' + i + ']" min="0" max="100" value="0" style="width:20%" title="Add points to the option"/>');
                row.appendChild(column3);
                var column4 = document.createElement('div');
                column4.className = "col-md-1";
                var select_container = document.createElement("select");
                select_container.name = "select-badges[optionA" + i + "]";
                select_container.className = "selcls";
                select_container.title = "Add badge to the option";
                var opt = document.createElement('option');
                opt.value = 0;
                opt.text = "Select Badge";
                select_container.appendChild(opt);
                var badges = $('#badges').data("badges");
                for (var j = 0; j < badges.length; j++) {
                    opt = document.createElement('option');
                    opt.value = badges[j].id;
                    opt.text = badges[j].name;
                    select_container.appendChild(opt);
                }
                column4.appendChild(select_container);
                row.appendChild(column4);
                $(".addOptionsBtn").before(row);
                i++;
            });

            $(document).on('click','.deleteOptionBtn',function(e){
                e.preventDefault();
                var divId = $(this).data("id");
                var div = document.getElementById(divId);
                div.parentNode.removeChild(div);
                return false;
            });
        });
    </script>

{% endblock %}