{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

    {% if current_user %}

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/museum/gamify/">
                    Hello {{ current_user.name }}
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/museum/gamify/">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Leaderboard</a></li>
                <li><a href="/museum/gamify/logout">Logout</a></li>
            </ul>
        </div>
    </nav>


    <table style="width:50%;margin-left:25%;margin-top:5%">
        <tr>
            {% for key,game in games %}
            <td valign="top" style="width:300px;padding: 20px;">
                <div class="w3-card-4" style="height:200px" >

                    <header class="w3-container w3-blue">
                        <h3>{{ key }}</h3>
                    </header>

                    {% for item in game %}
                    <div class="w3-container">
                        <p> <a href="/museum/gamify/users/quiz/{{item.id}}">{{ item.name }}</a></p>
                    </div>
                    {% endfor %}
                </div>
            </td>
            {% endfor %}
        </tr>
    </table>

    {% else %}

        <a href="/museum/gamify/signup/new">Sign Up</a>
		<a href="/museum/gamify/login">Log In</a>

    {% endif %}
{% endblock %}