{% extends "base.html" %}

{% block title %}Leaderboard{% endblock %}

{% block body %}

    <link rel="stylesheet" href="/museum/gamify/css/adminhome.css">

    {% if current_user %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

            <div class="navbar-header">
                <a class="navbar-brand" href="/museum/gamify">
                    <img src="/museum/gamify/images/buffalo-museum-white.png" height="30px" width="35px" style="margin:2%;"/>
                </a>
            </div>

            <ul class="nav navbar-nav">
                <li><a href="/museum/gamify/">Home</a></li>
                <li><a href="/museum/gamify/users/profile">Profile</a></li>
                <li class="active"><a href="/museum/gamify/leaderboardcontroller/new">Leaderboard</a></li>
                <li><a href="/museum/gamify/logout">Logout</a></li>
            </ul>
        </div>
        <div class="navbar-header" style="float: right">
            <a class="navbar-brand" href="/museum/gamify/users/profile">
                {% if avatar_file %}
                <img src="{{ avatar_file }}" height="30px" width="30px" alt="Avatar"/>
                {% else %}
                <img src="/museum/gamify/images/avatar_default.jpg" height="30px" width="30px" alt="Avatar"/>
                {% endif %}
            </a>
            <a class="navbar-brand" href="/museum/gamify/users/profile">
                {{ current_user.name }}
            </a>
        </div>
    </div>
</nav>

        {% for message in flash_messages %}
        <div class="alert alert-{{ message.type }}">
            {{ message.body }}
        </div>
        {% endfor %}

        <div style="text-align: center">
            <h2>Leaderboard <span style="font-size: 50%;">{{ ageGroup.min }} - {{ ageGroup.max }} Age</span></h2>
            <input type="radio" id="point" name="filter" onclick="changePoints()" checked style="margin-right: 1%"><label for="point" style="margin-right: 2%" title="Sort by Points">By Points</label>
            <input type="radio" id="badge" name= "filter" onclick="changeBadges()" style="margin-right: 1%"><label for="badge" style="margin-right: 2%" title="Sort by Badges">By Badges</label>
            <div class="bluediv">
                {% if users|length > 0 %}
                    {% set j = 1 %}
                    {% for user in users %}
                    <div id="users">
                        <div class="row" style="margin: 1%;font-size:large;">
                            <div class="col-md-3"></div>
                            <div class="col-md-1" id="rank">{{ j }}</div>
                            <div class="col-md-2" align="left">{{ user.name }}</div>
                            <div class="col-md-1 points" align="left">{{ user.points }}</div>
                            <div class="col-md-5 badges" align="left">
                                {% for badge in user.badges %}
                                    {% if badge.badge %}
                                        {% for i in 1..badge.count %}
                                            <img src="{{ badge.badge }}" width="4%" height="4%"/>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-md-12"><hr align="center" width="70%"/></div>
                        </div>
                        {% set j = j + 1 %}
                    </div>
                    {% endfor %}
                {% else %}
                    <h2 style="text-align: center">No Players in the Age Group</h2>
                {% endif %}
            </div>
        </div>

    {% else %}
        <a href="/museum/gamify/signup/new">Sign Up</a>
        <a href="/museum/gamify/login">Log In</a>
    {% endif %}

    <script>
        function changePoints() {
            if($('#point').is(":checked")) {
                var rows = $(".row");
                rows.sort(function(row1, row2) {
                    var pointsRow1 = row1.getElementsByClassName('points')[0].innerHTML;
                    var pointsRow2 = row2.getElementsByClassName('points')[0].innerHTML;
                    return pointsRow2 - pointsRow1;
                });
                rows.each(function (i, item) {
                    $(item).children("#rank").text(i + 1);
                    $("#users").append(item);
                });
            }
        }
        function changeBadges() {
            if($('#badge').is(":checked")) {
                var rows = $(".row");
                rows.sort(function(row1, row2) {
                    var badgesRow1 = row1.getElementsByTagName('img');
                    var badgesRow2 = row2.getElementsByTagName('img');
                    return badgesRow2.length - badgesRow1.length;
                });
                rows.each(function (i, item) {
                    $(item).children("#rank").text(i + 1);
                    $("#users").append(item);
                });
            }
        }
    </script>
{% endblock %}