{% extends "base.html" %}

{% block title %}Leaderboard Quiz{% endblock %}

{% block body %}

<section class="main-container">
    <div class="main-wrapper">
        <h2>Leaderboard</h2>
        <div>
            <ul>
            {% for user in users %}
                <li>{{ user.name }} {{ user.points }}</li>
                {% for badge in user.badges %}
                    <img src="{{ badge.badge }}" width="2%" height="2%"/>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    </div>

</section>

{% endblock %}