{% extends "base.html" %}

{% block title %}Quiz{% endblock %}

{% block body %}

{% if current_user %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/museum/gamify/">
                    {% if avatar_file %}
                    <img src="{{ avatar_file }}?random=323527528432525.24234" height="30px" width="30px" alt="Avatar"/>
                    {% endif %}
                </a>
                <a class="navbar-brand" href="/museum/gamify/">
                    {{ current_user.name }}
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/museum/gamify/">Home</a></li>
                <li><a href="/museum/gamify/users/profile">Profile</a></li>
                <li><a href="/museum/gamify/leaderboardcontroller/new">Leaderboard</a></li>
                <li><a href="/museum/gamify/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
{% for message in flash_messages %}
<div class="alert alert-{{ message.type }}">
    {{ message.body }}
</div>
{% endfor %}

<input type="hidden" id="mydiv" name="mydiv" value="{{ div_id }}">
<div id="wrapper" style="width: 70%">
    <h1> {{ game_name }} </h1>

    {% if questions|length %}
    <table style="width: 100%;position: relative;height:300px;">
        <tr>
            <td style="width:15%;position: relative">
                <button class="btn btn-primary"><a id="prev">Prev</a></button>
            </td>
            <td style="width:70%;position: relative">
                {% set count = 1 %}
                <div class="questiondivs">
                    {% for question in questions %}
                    <div class="w3-container">
                        <form class="questions" action="/museum/gamify/users/quiz-answer" method="post">
                            <a name="qdiv{{ count }}"></a>
                            <input type="hidden" name="gameid" value={{ gameid }}>
                            <input type="hidden" name="questionid" value={{ question.id }}>
                            <input type="hidden" name="points" value={{ question.points }}>
                            <input type="hidden" name="badge_id" value={{ question.badge_id }}>
                            <input type="hidden" name="div_id" value="{{count}}">

                            <p> {{ count }}. {{ question.question }} </p>
                            {% if question.answered %}
                            <p style="color:green;"> You have earned : {{ question.userpoints }} points</p>

                            {% for opt in question.options %}
                            {% if opt.iscorrect %}
                            <input type="checkbox"  disabled="true" checked name="option[]" value="{{opt.id}}"/> <span style="color:green;"> {{ opt.option }} </span>
                            {% else %}
                            <input type="checkbox"  disabled="true" name="option[]" value="{{opt.id}}"/> {{ opt.option }}
                            {% endif %}

                            <br><br>
                            {% endfor %}

                            {% if question.userpoints>0 %}
                            <p style="color:green;"> Great work! </p>
                            {% else %}
                            <p style="color:red;"> Wrong answer! </p>
                            {% endif %}

                            <p>{{ question.description }}</p>
                            <input   style="width: 50%; margin-left: 20%"  class="btn btn-success" disabled="true" type="submit" name="submit"/>
                            {% else %}

                            <p style="color:blueviolet;"> Unanswered question </p>
                            {% for opt in question.options %}
                            <input type="checkbox"  name="option[]" value="{{opt.id}}"/> {{ opt.option }}
                            <br><br>
                            {% endfor %}
                            <br>
                            <input  style="width: 50%; margin-left: 20%" class="btn btn-success" type="submit" name="submit"/>
                            {% endif %}
                            {% set count = count + 1 %}
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </td>
            <td style="width:15%;position: relative">
                <button class="btn btn-primary"><a id="next">Next</a></button>
            </td>
        </tr>
    </table>
    {% else %}
        <h1>{{ game_name }} is not yet ready. Please try again later!</h1>
    {% endif %}

</div>
{% else %}

        <a href="/museum/gamify/signup/new">Sign Up</a>
        <a href="/museum/gamify/login">Log In</a>

{% endif %}
{% endblock %}